<!doctype html>
{{ "<!--[if lt IE 7]>" | safeHTML }} <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ .Site.LanguageCode }}"> {{ "<![endif]-->" | safeHTML }}
{{ "<!--[if IE 7]>" | safeHTML }} <html class="no-js lt-ie9 lt-ie8" lang="{{ .Site.LanguageCode }}"> {{ "<![endif]-->" | safeHTML }}
{{ "<!--[if IE 8]>" | safeHTML }} <html class="no-js lt-ie9" lang="{{ .Site.LanguageCode }}"> {{ "<![endif]-->" | safeHTML }}
{{ "<!--[if gt IE 8]><!-->" | safeHTML }} <html class="no-js" lang="{{ .Site.LanguageCode }}"> {{ "<!--<![endif]-->" | safeHTML }}
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>{{ .Title }} {{ if ne .Title .Site.Title }} &middot; {{ .Site.Title }}{{ end }}</title>
{{ partial "base/metas" . }}
{{ partial "base/imports" . }}
{{ partial "base/scripts" . }}
	</head>
	<body class="home blog">
	<div id="wrapper" class="hfeed container">
		<header id="header" class="row clearfix">
			<hgroup id="branding" class="twelvecol last">
				<h1 class="site-title"><a href="{{.Site.BaseURL}}" title="{{ .Site.Title }}" rel="home">{{ .Site.Title }}</a></h1>
				<h2 class="site-description">{{ .Site.Params.description }}</h2>
			</hgroup>
			<div id="access" role="navigation" class="twelvecol last clearfix">
				<div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>
				<div class="menu-header"><ul id="menu-top_menu" class="menu">
				{{ $currentNode := . }}
				{{ range .Site.Menus.main }}
				<li class="menu-item{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} current-menu-item{{end}}">
					<a href="{{ .URL | absURL }}">{{ .Name }}</a>
				</li>
				{{ end }}
				</ul></div>
			</div><!-- #access -->
		</header><!-- #header -->
		<div id="container" class="row clearfix">
