{{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}
{{ if gt $paginator.TotalPages 1 }}
	<nav id="nav-above" class="navigation">
		<div class="nav-previous"><span class="meta-nav">&larr;</span> Older posts</div>
		<div class="nav-next">Newer posts <span class="meta-nav">&rarr;</span></div>
	</nav><!-- #nav-above -->
{{ end }}

{{ $baseurl := .Site.BaseURL }}
{{ range $paginator.Pages }}
	{{ partial "summary" . }}
{{ end }}

{{ if gt $paginator.TotalPages 1 }}
		<nav id="nav-below" class="navigation">
			{{ if $paginator.HasNext }}
			<div class="nav-previous">
				<a href="{{ if $paginator.HasNext }}{{ $paginator.Next.URL }}{{ else }}#{{ end }}">
					<span class="meta-nav">&larr;</span> Older posts
				</a>
			</div>
			{{ end }}

			{{ if $paginator.HasPrev }}
			<div class="nav-next">
				<a class="disabled" href="{{ if $paginator.HasPrev }}{{ $paginator.Prev.URL }}{{ else }}#{{ end }}">
					Newer posts <span class="meta-nav">&rarr;</span>
				</a>
			</div>
			{{ end }}
		</nav>
{{ end }}
