		<div id="sidebar" class="widget-area threecol last" role="complementary">
			<ul class="xoxo">
				<li class="widget-container widget_links"><h3 class="widget-title">In eigener Sache</h3>
					<ul class='xoxo blogroll'>
					{{ range .Site.Menus.selflinks }}
						<li><a href="{{ .URL | absURL }}" rel="me">{{ .Name }}</a></li>
					{{ end }}
					</ul>
				</li>

				<li class="widget-container widget_links"><h3 class="widget-title">Blogroll</h3>
					<ul class='xoxo blogroll'>
					{{ range .Site.Menus.blogroll }}
						<li><a href="{{ .URL | absURL }}" rel="external">{{ .Name }}</a></li>
					{{ end }}
					</ul>
				</li>

				<li class="widget-container widget_links"><h3 class="widget-title">Freunde</h3>
					<ul class='xoxo blogroll'>
					{{ range .Site.Menus.friendlinks }}
						<li><a href="{{ .URL | absURL }}" rel="external">{{ .Name }}</a></li>
					{{ end }}
					</ul>
				</li>
			</ul>
		</div>