<style type="text/css"> #wrapper { max-width: 960px !important;} </style>
<link rel="alternate" type="application/rss+xml" title="{{ .Title }}" href="{{ .RSSlink }}" />
<link rel='stylesheet' id='brunelleschi_modern-css'  href='{{ "/css/modern.css" | absURL }}' type='text/css' media='all' />
<link rel='stylesheet' id='brunelleschi_center-navigation-css'  href='{{ "/css/center-navigation.css" | absURL }}' type='text/css' media='all' />
<link rel='stylesheet' id='brunelleschi_fixed-navigation-css'  href='{{ "/css/fixed-navigation.css" | absURL }}' type='text/css' media='all' />
<link rel='stylesheet' id='style.css-css'  href='{{ "/css/style.css" | absURL }}' type='text/css' media='all' />
<!--<link rel='stylesheet' id='wp-syntax-css-css'  href='{{ "/css/wp-syntax.css" | absURL }}' type='text/css' media='all' />-->
<!--<link rel='stylesheet' id='jetpack_css-css'  href='{{ "/css/jetpack.css" | absURL }}' type='text/css' media='all' />-->